
.cont_1{ 
    height: 70vh;
    width: 100%;
}

.main_card{
    display: flex;
    object-fit: cover;
    width: 100%;
    max-height: 70vh;
    color: white;
}

.title{
    right: 10px;
    top: 10px
}

.subtitle{
    right: 10px;
    top: 50px
}

.cont_2{
    display: flex;
    justify-content: start;
    align-content: flex-start;
    height: 20vh;
    width: 100%;
}


.card{
    width: calc(100% / 5);
    height: 20vh;
    display: flex;
}

img{
    width: 100%; 
    object-fit: fill;
}

.btn{
    position: absolute;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
}

.btn-left{
    top: 45%;
    margin-left: 5px;
}

.btn-right{
    top: 45%;
    right: 0;
    margin-right: 5px;
}

.d-rel{
    position: relative;
}

.d-abs{
    position: absolute;
}

.d-none{
    display: none;
}

.btn:hover{
    background-color: rgb(153, 150, 150);
}




